<style>
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  height: 90px;
}
</style>


<mat-toolbar >
 
  <mat-toolbar-row>
    <img src="assets/images/codejudge.png" height="25px" alt="logo">
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<app-lead></app-lead>

    <div class="footer">
      <div class="qtr-margin-top">
          <img src="assets/images/codejudge.png" height="" style="margin-top:18px;" class="qtr-margin-top" alt="logo">
      </div>
       
      </div>